# Flask and related packages
Flask
Flask-Cors
python-dotenv

# Streamlit
streamlit

# Hugging Face Transformers
transformers

# Spotipy (for Spotify API)
spotipy

# Requests (for making HTTP requests from Streamlit)
requests